*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    background-color: rgb(196, 237, 248);
}

.container {
    max-width: 50%;
    margin: 0 auto;
    
}

.title {
    font-size: 50px;
}

.modes {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.timer {
    font-size: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 300px;
    border-radius: 60px;
    background-color: rgb(82, 195, 226);
}

.stop {
    margin-bottom: 30px;
}

.task-1,
.task-2,
.task-3,
.task-4,
.task-5 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}

button {
    font-family: 'Fredoka One', cursive;
}

input::placeholder {
    font-family: 'Fredoka One', cursive;
}

input {
    margin-left: 20px;
    margin-right: 20px;
}


.modes button {
    height: 40px;
    margin-right: 20px;
    width: 300px;
    background-color: rgb(82, 195, 226);
    border: none;
    border-radius: 60px;
    font-size: 25px;
}



.stop {
    font-size: 35px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 350px;
    border-radius: 60px;
    background-color: rgb(82, 195, 226);
    border: none;
}



.confirm-1,
.confirm-2,
.confirm-3,
.confirm-4,
.confirm-5 {
    background-color: rgb(82, 195, 226);
    border: none;
    border-radius: 60px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

button:hover {
    opacity: 0.5;
    transition: 0.4s;
}

.what__task-1,
.what__task-2,
.what__task-3,
.what__task-4,
.what__task-5 {
    height: 40px;
    width: 350px;
    border: none;
    border-radius: 60px;
    padding-left: 20px;
}